<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="Image Search Abstraction Layer - FCC Project">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer - bildsercxado API
      </h1>
    </header>

    <main>
      <div class="box">
      <h3>Ejemplo de búsqueda:</h3>
      <h4>Buscando imágenes de "gatitos negros"</h4>
      <p">
        https://bildsercxado.glitch.me/api/imagesearch/gatitos negros?offset=10
      </p>
      <h4>Los últimos términos buscados</h4>
      <p>
        https://bildsercxado.glitch.me/api/latests/imagesearch/
      </p>
      </div>
    </main>

    <footer>
      <p>
        <a href="https://glitch.com">
        Remix this in Glitch
      </a>
      </p>
      <p>Using Pixabay's API <a href="https://pixabay.com"><img src="https://pixabay.com/static/img/logo.png" width="100px"></a></p>
      <p class="txtc">
        Made by ZDFlower - 2017
      </p>
    </footer>

  </body>
</html>
