* {
  box-sizing: border-box;
}

html {
    background-image: url(https://github.com/zdflower/bildsercxadoAPI/raw/master/public/notebook-2984108_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;    
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
}

h1, h3, h4 {
  color: pink;
}

main {
  height: 300px;
}

p {
  color: antiquewhite;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  background-color: gray;
}

footer > a {
  color: #BBBBBB;
}

main {
  padding: 10px;
}

.txtc {
  text-align: center;
}

.box {
  max-width: 600px;
  padding: 10px;
  background-color: gray;
}
